<!doctype html>

<html>
<head>
	<title>Cut</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Brand</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul id="tab" class="nav navbar-nav">
					<li class="active"><a href="#trending" data-toggle="tab">Trending</a></li>
					<li><a href="#available" data-toggle="tab">Available</a></li>
					<li><a href="#camera" data-toggle="tab">Camera</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#wallet">Wallet</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div class="tab-content">
			<div class="tab-pane active" id="trending">askfjalkshfd</div>
			<div class="tab-pane" id="available">iuerliutyeariut</div>

		</div>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
